body {
  font-size: 16px;
  font-family: 'eponymousregular';
  background: url('swirl_pattern.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

//----------navbar------------//

.navbar {
  border-radius: 0;
  font-size:1.4em;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('dark_wood.png');
}

.navbar-inverse .navbar-brand {
  font-size: 1.8em;
  color: #d21b1b;
}

.navbar-inverse a.navbar-brand:hover {
  color: #fff;
}


//------hero box-------//

.hero{
  background: url('hero.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty{
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  border-radius: 10px;

}

//-----features-------//

.features{
  background: rgba(255, 255, 255, 0.5);
  padding:15px;
}
