body {
  font-size: 16px;
  font-family: 'eponymousregular';
  background: url('swirl_pattern.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

//------Flexbox-----//

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

//----------navbar------------//

.navbar {
  border-radius: 0;
  font-size:1.4em;
  box-shadow: 0px 1px 3px #2a2a2a;
  background:url('dark_wood.png');
}


.navbar-inverse a.navbar-brand {
  font-size: 1.8em;
  color: #fff;
  background: none;
}

.navbar-inverse a.navbar-brand:hover {
  font-size: 1.8em;
  color: #5cdb5d;
  background: none;
}


//------hero box-------//

.hero{
  background: url('hero.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.frosty{
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

}

//-----features-------//

.features{
  background: rgba(255, 255, 255, 0.5);
  padding:15px;
}





//------Forms-------//

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding:10px;
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}


//-------Course Show Page-------//
.lesson {
  background-color: black;
  margin-top:10px;
  height: 130px;
  font-size: .9em;
}

.lesson a {
  color:white;
}

.lesson a b {
  font-size:1.5em;
  font-weight: 100;
}

.section {
  border:1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}


//------errors---------//
.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}


//-----sections & lessons----------//

ul {
  list-style-type: none;

}

.section-li {
border: 1px solid;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
padding: 20px;
margin: 20px;
}

ul .header {
  font-size: 1.5em;
}

ul .header .glyphicon {
font-size:1.1em

}

.lessons li {
  background:black;
  color:white;
  margin: 10px;
  padding: 8px;
}

.lessons li b {
  font-size: 1.3em;
  font-weight: 100;
}

.lessons li p {
  margin:0;
}
//-------Misc--------//

.clr{
  clear:both;
}

.course_image {
  height: 300px;
  width: auto;
  text-align: center;
}
